#contentBannerHome{
    color:white; 
    position: absolute; 
    margin-top: 200px;
}

#contentBannerHome h1{
    font-size: 20px;
}

#contentBannerHome p{
    font-size: 20px;
}

#aboutMeRow{
    margin-top: 100px;
}

#skillsRow{
    margin-top: 100px;
}

#servicesRow{
    margin-top: 100px;
    text-align: center;
}